<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Wire Facade Context -->
	
	<import resource="entity-facade-context.xml"/>
	
	<!-- ========== Controller ===================== -->
	<bean id="autocompleteBean" class="com.openappengine.autocomplete.AutocompleteBean" scope="session"/>
	
	<bean id="formController" class="com.openappengine.form.controller.FormController" scope="session"/>
	
	<bean id="entityFormController" class="com.openappengine.entity.EntityFormController" scope="session">
		<property name="entityFacade" ref="entityFacade"></property>
	</bean>
	
</beans>
