<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Wire Facade Context -->
	
	<import resource="entity-facade-context.xml"/>
	
	<!-- ========== Custom Scope Implementations ===================== -->
	<bean id="viewScope" class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="view">
					<bean class="com.openappengine.web.scope.ViewScope" />
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- ========== Controller ===================== -->
	<bean id="autocompleteBean" class="com.openappengine.autocomplete.AutocompleteBean" scope="session"/>
	
	<bean id="formController" class="com.openappengine.form.controller.FormController" scope="session"/>
	
	<bean id="entityFormController" class="com.openappengine.entity.EntityFormController" scope="session">
	</bean>
	
</beans>
