body{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 5px 10px 25px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family: Calibri;
    font-size: 11px;
    width: 80%;
}
.info {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/star_green.png'); 
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/star_yellow.png'); 
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/flag_red.png'); 
}
/*
 * crud.jsp CSS styles.
 */

/* General ------------------------------------------------------------------------------------- */

body, p, input, button {
    font: normal 8pt verdana, helvetica, sans-serif;
}

h2 {
    font-size: 10pt;
}

.italic {
    font-style: italic;
}

.centered {
    text-align: center;
}

.width25 {
    width: 25%;
}

.width75 {
    width: 100%;
}

/* Table --------------------------------------------------------------------------------------- */

table.dataTable {
    width: auto;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
}

table.dataTable th {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font: 11px tahoma;
    color: #484848;
    padding: 5px;
    font-weight: bold;
    background: #FFF url( 'rime/css-images/table_col_header.gif' ) repeat-x bottom left;
    border: 1px solid #d9d9d9;
}

table.dataTable th a {
    color: #fff;
}

table.dataTable tr {
    height: 20px;
}

table.dataTable tr tr {
    height: 0px;
}

table.dataTable tr.rowOdd {
    background-color: #eee;
}

table.dataTable tr.rowEven {
    background-color: #ccc;
}

table.dataTable td {
    padding: 0px 1px;
}

table.dataTable tbody table {
    margin: 0px auto;
}

table.dataTable tfoot {
    background-color: #EEE;
}

/* Forms --------------------------------------------------------------------------------------- */

form input {
    margin: 0px 1px;
    padding: 1px;
}

form .input {
    border: 1px solid #666;
}

form .highlightInput {
    border: 1px solid #900;
    background-color: #fcc;
}

form .error {
    color: red;
}
