<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Version: MPL 1.1 ~ ~ "The contents of this file are subject to the 
	Mozilla Public License ~ Version 1.1 (the "License"); you may not use this 
	file except in ~ compliance with the License. You may obtain a copy of the 
	License at ~ http://www.mozilla.org/MPL/ ~ ~ Software distributed under the 
	License is distributed on an "AS IS" ~ basis, WITHOUT WARRANTY OF ANY KIND, 
	either express or implied. See the ~ License for the specific language governing 
	rights and limitations under ~ the License. ~ ~ The Original Code is ICEfaces 
	1.5 open source software code, released ~ November 5, 2006. The Initial Developer 
	of the Original Code is ICEsoft ~ Technologies Canada, Corp. Portions created 
	by ICEsoft are Copyright (C) ~ 2004-2010 ICEsoft Technologies Canada, Corp. 
	All Rights Reserved. ~ ~ Contributor(s): _____________________. ~ -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>webiface</display-name>
  <description>
        OpenAppEngine Web IFace
    </description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>
            /WEB-INF/facelets/tags/openui.taglib.xml;
            /WEB-INF/facelets/tags/entity.taglib.xml;
            /WEB-INF/facelets/tags/screen.taglib.xml
        </param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Resource Servlet</servlet-name>
    <servlet-class>com.icesoft.faces.webapp.CompatResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.iface</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Resource Servlet</servlet-name>
    <url-pattern>/xmlhttp/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sessionFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionFilter</filter-name>
    <url-pattern>*.iface</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>XmlContextProcessingFilter</display-name>
    <filter-name>XmlContextProcessingFilter</filter-name>
    <filter-class>com.openappengine.web.filter.XmlContextProcessingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XmlContextProcessingFilter</filter-name>
    <url-pattern>*.screen</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>